.root{
    max-width: 94%;
}
.action {
    margin-top: " 1.5rem";
}
.media{
    height: 60%;
    padding-top: 1%;

}

.media{
    max-height: 60%;
    padding-top: 1%;

}

.expand{
    transform: "rotate(0deg)";
    margin-left: "auto";
    transition: all 0.2s ease-out;
}

.expandOpen{
    transform: "rotate(180deg)"
}

img{
    height: 315px !important;
}