.paper{
    padding: 2;
    text-align: center;
    color: rgb(4, 107, 4);
}

.rootH{
    flex-grow: 1;
    width: 100% !important;
    padding-left: 2%;
    padding-top: 3%;
    padding-bottom: 2%;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 1500px;
    height: 600px !important;
    border-radius: 10px;
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide{
    opacity: 1;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.02);
}