.dropdown-menu{
    width: 200px !important;
    position: relative !important;
    top:80px !important;
    list-style: none !important;
    text-align: start !important;
    display: block !important;
}

.dropdown-menu li{
    background: #1888ff !important;
    width: 180% !important;
    cursor: pointer !important;
}

.dropdown-menu li:hover{
    background: #5cabff !important;
}

.dropdown-menu.clicked{
    display: none !important;
}

.dropdown-link{
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    text-decoration: none !important;
    color: #fff !important;
    padding: 8px !important;
}