.dropdown-menu{
    width: 100% !important;
    position: relative !important;
    top: 40% !important;
    list-style: none !important;
    
    display:block!important;
}

.dropdown-menu {
    background: #1888ff !important;
    
    
    cursor: pointer !important;
}

.dropdown-menu :hover{
    background: #5cabff !important;
}

.dropdown-menu.clicked{
    display: none !important;
    
}

.dropdown-link{
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    text-decoration: none !important;
    color: #fff !important;
    padding: 8px !important;
}